addict
aiofiles
aioice
aiortc
altair
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
av
Babel
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
clip @ git+https://github.com/openai/CLIP.git
colorama
comm
ConfigArgParse
contourpy
cryptography
cycler
dash
dash-core-components
dash-html-components
dash-table
debugpy
decorator
defusedxml
dnspython
executing
fairscale
fastapi
fastjsonschema
ffmpy
filelock
Flask
fonttools
fqdn
fsspec
ftfy
fvcore
gitdb
GitPython
google-crc32c
gradio
gradio_client
gradio_imageslider
h11
httpcore
httpx
huggingface-hub
idna
ifaddr
importlib_metadata
importlib_resources
iopath
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
mpmath
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
ollama
open3d
opencv-python
orjson
outcome
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
plotly
portalocker
prometheus_client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyav
pycocoevalcap
pycocotools
pycparser
pydantic
pydantic_core
pydeck
pydub
pyee
Pygments
pylibsrtp
pyOpenSSL
pyparsing
pyquaternion
PySocks
python-dateutil
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
regex
requests
retrying
rfc3339-validator
rfc3986-validator
rich
rpds-py
safetensors
scikit-learn
scipy
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git
selenium
semantic-version
Send2Trash
shellingham
six
smmap
sniffio
sortedcontainers
soupsieve
stack-data
starlette
streamlit
streamlit-webrtc
sympy
tabulate
tenacity
termcolor
terminado
threadpoolctl
tinycss2
tokenizers
toml
tomlkit
toolz
torch
torchvision
tornado
tqdm
traitlets
transformers @ git+https://github.com/huggingface/transformers.git
trio
trio-websocket
typer
types-python-dateutil
typing_extensions
tzdata
uri-template
urllib3
uvicorn
watchdog
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
widgetsnbextension
wsproto
yacs
