body, html {
    min-height: 100%;  /* Allows the body to expand as needed */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;  /* Aligns content to the top */
    align-items: center;
}

h1 {
    text-align: center; /* Center-align the title */
    margin-bottom: 20px; /* Space below the title */
}

.container {
    display: flex; /* Use flexbox for side-by-side videos */
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#videoInput, #depthMap {
    /* Ensure these are the same width if they are to be displayed side by side */
    width: 640px; /* Fixed width for individual videos */
    height: 480px; /* Fixed height */
    border: 1px solid #ddd; /* Optional border */
    margin: 10px; /* Margin around each for spacing */
}

#log {
    width: 1300px; /* Adjust the width */
    height: 50px; /* Fixed height */
    overflow-y: scroll; /* Makes it scrollable */
    border: none; /* Removes border */
    background: #f9f9f9; /* Light grey background */
    padding: 10px;
    margin-bottom: 50px;
    box-sizing: border-box;
    resize: none; /* Prevent resizing */
}
p {
    margin: 0; 
    padding: none;
}